@import "tailwindcss";
@import "tw-animate-css";

@font-face {
    font-family: "Darker Grotesque";
    src: url("../assets/fonts/DarkerGrotesque-VariableFont_wght.ttf") format("truetype");
}

:root {
    @apply bg-white font-medium text-neutral-900;
    font-family: "Darker Grotesque", Arial, Helvetica, sans-serif;
}
/* 
@theme inline {
    --text-xxs: 0.625rem;
} */

/* Markdown content */

.content h1 {
    @apply pb-6 text-3xl font-[550] tracking-tight sm:text-4xl sm:font-semibold;
}

.content h2 {
    @apply pb-3 text-2xl font-medium sm:text-3xl;
}

.content h3 {
    @apply pb-3 text-lg font-medium sm:text-xl;
}

.content h4 {
    @apply mt-6 pb-2 text-base font-medium sm:text-lg;
}

.content p {
    @apply leading-normal text-neutral-500 dark:text-neutral-400;
}

.content ul {
    @apply my-3 ml-3 list-inside list-disc leading-normal text-neutral-500 dark:text-neutral-400;
}

.content .spacer {
    @apply h-3 sm:h-4;
}

.content .spacer-lg {
    @apply h-10 sm:h-12;
}

.content .spacer-2xl {
    @apply h-20 sm:h-24;
}

.content strong {
    @apply font-semibold;
}
